.navbar {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  box-shadow: 0 0.375rem 0.625rem -0.375rem rgba(0, 0, 0, 0.2);
  transition: top 0.3s ease-in-out;
}
.navbar1 {
  width: 100%;
  height: 210px;
  background-color: #0fd46c;
  color: #fff;
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* width: 65rem; */
  width: 100%;
  font-size: 40px;
  text-align: center;
  padding: 1.6rem 48px;
  animation: fadeInUp 0.3s ease-in-out forwards;
  background-repeat: no-repeat;
  background-size: 60%;
  background-image: url("https://digitalasset.intuit.com/render/content/dam/intuit/sbseg/en_row/quickbooks/web/image/other/sbseg-en_row-april_promo-get70off3months--desktop.svg");
}
.days,
.hours,
.minutes,
.seconds {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 2.5rem;
  height: 2.3rem;
  border-radius: 4px;
  background-color: #fff;
  color: #393a3d;
  line-height: 16px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  /* gap: 8px; */
}
.buyNow {
  background-color: #0d333f;
  color: #fff;
  border: none;
  padding: 0.7rem;
  width: 120px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
}
.buyNow:hover {
  background-color: #2c4650;
}

.navbar1.scrolling {
  height: 100px;
  padding: 0 8rem;
}
.nav1.scrolling {
  background-size: 30%;
}
.discount.scrolling {
  display: flex;
  gap: 12rem;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 2rem;
  font-weight: bold;
}

.nav2 {
  display: flex;
  height: 60px;
  width: 100%;
  background-color: #fff;
  color: #393a3d;
  padding: 1.5rem 2.5rem 0;
  justify-content: space-between;
}

nav a {
  color: #333;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-color: #0e8900;
  text-decoration-thickness: 4px;
}
/* navbar end */

/* here start */
.content {
  /* position: relative; */
  margin-top: 270px;
  margin-bottom: 0px;
}
.hero {
  background-color: #fff;
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.hero-image {
  position: absolute;
  display: flex;
}
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  accent-color: aliceblue;
  overflow: hidden;
}
/* h1 {
  margin: 0;
  font-size: 3em;
  font-weight: normal;
  color: #0070c9;
} */
.hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  width: 40%;
  margin-left: 2.5rem;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #fff;
}
.hero-text p {
  font-size: 12px;
  font-weight: 600;
}
.hero-text h2 {
  font-weight: 700;
  line-height: 1.25;
  font-size: 3rem;
}
.hero-btn {
  display: flex;
  gap: 2rem;
}
.hero-btn,.btn-million button {
  border-radius: 2rem;
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  width: 14rem;
  transition: background-color 0.3s ease-out;
}

.hero-btn .green {
  background-color: #0e8900;
  color: #fff;
}
.hero-btn .grey {
  background-color: #393a3d;
  color: #fff;
}
.hero-btn .grey:hover {
  background-color: black;
}
.hero-btn .green:hover {
  background-color: #057706;
}
p {
  margin: 0;
}
/* hero end */

/* dowm-business */
.dowm-business {
  margin-top: 180px;
}
.dowm-business h2 {
  text-align: center;
}
.cards-buss {
  display: flex;
  margin: 1rem 8rem;
  gap: 2rem;
  text-align: center;
  justify-content: center;
}
.text {
  margin-top: 1rem;
}
/* down business end */

/* million strat */
.million {
  margin-top: 100px;
  background: linear-gradient(to right, #48b819, #08c0ac);
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  /* position: relative; */
}
.million-text {
  line-height: 1.3;
  font-weight: 700;
  text-align: center;
  color: #fff;
  font-size: 2.125rem;
}
.btn-million{
  display: flex;
  gap: 1.5rem;
}
.btn-million .grey{
background-color: #393a3d;
color: #fff;
}
.btn-million .grey:hover{
  background-color: black;
 
}
.beam-container {
  position: absolute;
  right: 33rem;
  transform: scale(1);
  mix-blend-mode: multiply;
}

.beam {
  /* left: -9.625rem; */
  /* top: 4rem; */
  transition-delay: 0.3s;
  transform: rotate(-45deg) translateZ(0);
  position: relative;
  width: 34.375rem;
  height: 7rem;
  border-radius: 4.5rem;
  background-color: #e3e5e8;
  mix-blend-mode: multiply;
  transition: transform 0.5s cubic-bezier(0, 0, 0.1, 1);
  position: absolute;
  overflow: hidden;
}
#beam1{
  left: -9.625rem;
  top: 8.4rem;
  width: 26rem;
  transition-delay: .3s;
}
#beam2{
  background: linear-gradient(225.74deg,#b9bdc4,#d3d6db);
  left: -4.14rem; 
  top:4.5rem;
  height: 8.0625rem;
}
#beam3{
  height: 4.0625rem;
  width: 26rem;
left: 2.9375rem;
top: 11.2rem;
background-color: #eceef1;
border-top-right-radius: 0;
border-top-left-radius: 0;
transition-delay: .2s;
}
/* million end */

/* run business start */
.run-business{
  margin:4.5rem 2.5rem;
}
.run-business .links{
  display: flex;
  gap: 3rem;
  margin-top: 3.5rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
 
}
.links a{
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
color: #393a3d;
}
.links a.active{
  color: black;
  text-decoration: underline;
  text-underline-offset: 1.2rem;
  text-decoration-color: #32a323;
  text-decoration-thickness: 4px;
}
hr{
  border: 1px solid #ebedef;

}
.run-business,.plan-text h2{
  text-align: center;
  color: #393a3d;
  font-weight: 600;
  font-size: 2.125rem;
}
.tabs{
  display: flex;
  margin-left: 4rem;
  margin-right: 0;
  margin-top: 2.5rem;
  justify-content: space-between;
}
.tabs img{
  width: 98%;
}
.business-text{
  width: 35%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 2rem;
}
.business-text p{
  color: #393a3d;
  font-size: 1.125rem;
}
.business-image{
  width: 50%;
}
/* run buiness end */

/* plan start */
.plan{
  background-color: #f4f5f8;
  
}
.pricing{
  /* max-width: 90.75rem; */
  margin: 0 4rem;
  padding: 1.25rem;
  position: relative;
  overflow: hidden;
}
.plan-cards{
  width: 33%;
  height: 60rem;
  padding: 0 1.25rem;
  background-color: #fff;
  color: #000;
  border-radius: .25rem;
  box-shadow: 0 .125rem .5rem 0 rgba(0, 0, 0, .2);
}
.plan-cards h3{
  font-size: 1.5rem;
font-weight: 600;
margin: 2.5rem 0 0;
text-align: center;
}
.plan-cards .title{
  text-align: center;
  margin-bottom: 1.25rem;
font-size: 1rem;
font-weight: 400;
color: #393a3d;
}
.plan-cards li{
  cursor: pointer;
  padding-bottom: 0.5rem;
  padding-left: .5rem;
  list-style: none;
padding-right: .625rem;
position: relative;
text-align: left;
}
.monthly, .annual{
  display:flex;
  align-items: center;
  gap: 2rem;
  margin:2rem;
}
.plan-text h2{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.payment-plan{
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
/* plan end */


/* footer */
footer {
  margin-top: 300px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

footer li {
  margin-left: 20px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #0070c9;
}
/* nav
#17303d
#0e8900
#0e8900
footer
#393a3d
#393a3d */
